@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:wght@400;700&display=swap');

h1, h2, h3, h4, h5, h6 {
  font-family: 'Libre Caslon Text', 'Times New Roman', Times, serif !important;
  font-weight: 700;
  color: #3a2c23;
}

body {
  color: #222;
  font-family: 'Libre Caslon Text', 'Times New Roman', Times, serif !important;
  background: #f7f7fa;
  margin: 0;
  padding: 0;
}